<!-- NAVIGATION MENU -->
<nav class="navbar fixed-top">
    <div class="col-sm-3">
        <div class="navbar-header">
            <div class="navbar-brand">Cinema tickets site</div>
        </div>
    </div>
    <div class="col-sm-7 date-btns">
        <div class="date">
            <label>Date:</label>
            <input type="date" name="choose-date" value="2023-05-19">
        </div>
        <button class="btn btn-info navbar-btn today-btn">Today</button>
        <button class="btn btn-info navbar-btn tomorrow-btn">Tomorrow</button>
        <button class="btn btn-info navbar-btn weekend-btn">Weekend</button>
    </div>
    <div class="col-sm-2 text-right">
        <a href="/cart" class="btn btn-primary navbar-btn cart-btn">Cart</a>
    </div>
</nav>
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row row-flex">
            <!-- ASIDE -->
            <aside class="col-sm-2 filter">
                <h3>Filter</h3>
                <h5>Cinema</h5>
                <div class="variants">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Пионер</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Иллюзион</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Кинозал ГУМа</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Кино Окко Афимолл Сити</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">5 звезд на Новокузнецкой</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Синема Парк Метрополис</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Каро 6 Будапешт</label>
                    </div>
                </div>


                <div class="filter-btns">
                    <button class="btn btn-primary apply-btn">Apply</button>
                    <button class="btn btn-warning clear-btn">Clear</button>
                </div>
            </aside>
            <!-- MAIN -->
            <main class="col-sm-10">
                <a href="/films" class="btn btn-primary navbar-btn all-films-btn">All films</a>
                <div class="row row-flex">

                    <div class="movie-item col-md-2">
                        <img src="assets/movies/shrek.jpeg" width="176" height="264">
                    </div>

                    <div class="col-md-10">
                        <h5>Сеансы фильма "Шрек" на 19.05.2023</h5>
                        <div class="movie-description">A mean lord exiles fairytale creatures to the swamp of a grumpy
                            ogre, who must go on a quest and rescue a princess for the lord in order to get his land
                            back.</div>
                    </div>

                </div>

                <div class="seance">
                    <div class="cinema-info">"Синема Парк Метрополис", Ленинградское ш., 16а, стр. 4, ТЦ «Метрополис»
                    </div>
                    <a href="shrek/cinemaParkMetropolis/today/places" class="btn price-btn low-price">
                        <span class="time">11:20</span>
                        <span class="price">300 ₽</span>
                    </a>
                    <button class="btn price-btn middle-price">
                        <span class="time">11:40</span>
                        <span class="price">400 ₽</span>
                    </button>
                    <button class="btn price-btn high-price">
                        <span class="time">12:30</span>
                        <span class="price">490 ₽</span>
                    </button>
                </div>

                <div class="seance">
                    <div class="cinema-info">"5 звезд на Новокузнецкой", Б.Овчинниковский пер., 16, ТЦ «Аркадия»</div>
                    <button class="btn price-btn low-price">
                        <span class="time">11:20</span>
                        <span class="price">300 ₽</span>
                    </button>
                    <button class="btn price-btn middle-price">
                        <span class="time">11:40</span>
                        <span class="price">400 ₽</span>
                    </button>
                    <button class="btn price-btn high-price">
                        <span class="time">12:30</span>
                        <span class="price">490 ₽</span>
                    </button>
                </div>

                <div class="seance">
                    <div class="cinema-info">"Пионер", Кутузовский просп., 21</div>
                    <button class="btn price-btn low-price">
                        <span class="time">11:20</span>
                        <span class="price">300 ₽</span>
                    </button>
                    <button class="btn price-btn middle-price">
                        <span class="time">11:40</span>
                        <span class="price">400 ₽</span>
                    </button>
                    <button class="btn price-btn high-price">
                        <span class="time">12:30</span>
                        <span class="price">490 ₽</span>
                    </button>
                </div>

            </main>
        </div>
    </div>
</div>