/* Seances */

.all-films-btn {
    padding: 10px 45px;
    margin-top: 1rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.movie-poster-description {
    margin-top: 13px;
    margin-bottom: 30px;
}

.movie-description {
    background-color: white;
    font-size: 20px;
    border: solid;
    padding: 15px;
    margin-right: 10px;
}

@media(max-width: 1200px) {
    .movie-description {
        font-size: 12px;
    }
}

.seances {
    margin-bottom: 100px;
}

.seance {
    background-color: rgb(232, 227, 232);
    border: solid;
    margin-bottom: 25px;
    margin-right: 8px;
    max-width: 100%;
}

.cinema-info {
    background-color: rgb(132, 128, 132);
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.price-btn {
    padding: 3px 15px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

.price-btn span {
    display: block;
}

.time {
    font-weight: bold;
    font-size: 20px;
}

.low-price {
    background-color: blue;
    margin-left: 20px;
}

.middle-price {
    background-color: green;
}

.high-price {
    background-color: rgb(59, 10, 97);
}
