<!-- NAVIGATION MENU -->
<header>
<nav class="navbar fixed-top">
    <div class="col-sm-3">
        <div class="navbar-header">
            <div class="navbar-brand">Cinema tickets site</div>
        </div>
    </div>
</nav>
</header>
<!-- MAIN CONTENT -->
<main>
    <div class="container-fluid">
        <div class="row row-flex">
            <!-- ASIDE -->
            <aside class="col-12 col-lg-2 col-xl-2 sum">
                <h5>Your order</h5>
                <h3>880 ₽</h3>

                <div class="row order-btns text-center">
                    <div class="col-6 col-lg-12"><button class="btn btn-primary pay-btn">Pay</button></div>
                    <div class="col-6 col-lg-12"><button class="btn btn-warning cancel-btn">Cancel order</button></div>
                </div>
            </aside>
            <!-- MAIN -->
            <div class="col-12 col-lg-10 col-xl-10 main-content">
                <a href="/films" class="btn btn-primary navbar-btn all-films-btn">All filmes</a>
                <h5>Your cart</h5>

                <div class="order">
                    <div class="order-seance-info"><b>Шрек 0+ 05.05.2023 11:40</b> «Синема парк» в ТРЦ «Европейский» пл.
                        Киевского Вокзала, 2, Москва, 121059</div>
                    <div class="tickets">
                        <div class="ticket">
                            <div class="ticket-place">Ряд 6, место 5</div>
                            <div class="ticket-price">440 ₽</div>
                        </div>
                        <div class="ticket">
                            <div class="ticket-place">Ряд 6, место 6</div>
                            <div class="ticket-price">440 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>