<!-- NAVIGATION MENU -->
<header>
<nav class="navbar fixed-top">
    <div class="col-sm-3">
        <div class="navbar-header">
            <div class="navbar-brand">Cinema tickets site</div>
        </div>
    </div>
</nav>
</header>
<!-- MAIN CONTENT -->
<main>
    <div class="container-fluid">
        <div class="row row-flex">
            <!-- ASIDE -->
            <aside class="col-12 col-lg-2 col-xl-2 sum">
                <h5>Your order</h5>
                <h3>{{ totalSum }} £</h3>

                <div class="row order-btns text-center">
                    <div class="col-6 col-lg-12"><button class="btn btn-primary pay-btn">Pay</button></div>
                    <div class="col-6 col-lg-12"><button class="btn btn-warning cancel-btn" (click)="cancelOrder()">Cancel order</button></div>
                </div>
            </aside>
            <!-- MAIN -->
            <div class="col-12 col-lg-10 col-xl-10 main-content">
                <a href="/films" class="btn btn-primary navbar-btn all-films-btn">All filmes</a>
                <h5>Your cart</h5>

                <div class="order" *ngFor="let order of orders">
                    <div class="order-seance-info"><b>{{ order.seance.movie.name }} {{ order.seance.movie.ageRating }} {{ order.seance.date }} {{ formatSeanceTime(order.seance.time) }}</b> «{{ order.seance.cinema.name }}» at {{ order.seance.cinema.address }}</div>
                    <div class="tickets">
                        <div class="ticket" *ngFor="let sale of order.sales">
                            <div class="ticket-place">Line {{ sale.ticket.line }}, seat {{ sale.ticket.number }}</div>
                            <div class="ticket-price">{{ sale.price }} £</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>