
.movies-date {
    margin-left: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.movie-item {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 15px;
}

.movie-item img {
    border: solid black;
}

.movie-info {
    position: absolute;
    padding: 7px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
}
