
.movies-date {
    margin-left: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.movie-item {
    margin-bottom: 30px;
}

.movie-card {
    border: solid black;
    text-decoration: none;
}

.movie-card:hover {
    border: 5px solid #ffd25e;
    cursor: pointer;
}

.card-img-top {
    height: 30vw;
    object-fit: cover;
}

.card-body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.89);
    color: #ffd25e;
}

.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 7px;
}

.movie-info {
    font-size: 1rem;
    margin-left: 7px;
}

@media(max-width: 750px) {
    .movie-title {
        font-size: 0.8rem;
    }

    .movie-info {
        font-size: 0.6rem;
    }
}