<!-- NAVIGATION MENU -->
<header>
    <nav class="navbar fixed-top">
        <div class="col-6">
            <div class="navbar-header">
                <div class="navbar-brand">Cinema tickets site</div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a href="/cart" class="btn btn-primary navbar-btn cart-btn">Cart</a>
        </div>
    </nav>
</header>
<!-- MAIN CONTENT -->
<main>
    <div class="container-fluid">
        <div class="row row-flex">
            <!-- ASIDE -->
            <aside class="col-12 col-lg-2 col-xl-2 sum">
                <h5>Your order</h5>
                <h3>{{totalSum}} £</h3>

                <div class="row order-btns text-center">
                    <div class="col-6 col-lg-12">
                        <a href="/cart" class="btn btn-primary add-btn">Add to cart</a>
                    </div>
                    <div class="col-6 col-lg-12">
                        <button class="btn btn-warning cancel-btn">Cancel order</button>
                    </div>
                </div>
            </aside>
            <!-- MAIN -->
            <div class="col-12 col-lg-10 col-xl-10 main-content">
                <div class="seance-btn-cinema-info-row">
                    <a href="{{movieName}}/{{seanceDate}}/seances" class="btn btn-primary navbar-btn seance-btn">Seances</a>
                    <div class="seance-info"><b>{{movieName}} 0+ {{seanceDate}} {{seanceTime}}</b> "{{seanceCinema}}", {{cinemaAddress ? cinemaAddress : ''}}</div>
                </div>

                <h4 class="place-selection-title">Place selection</h4>

                <div class="cinema text-center">
                    <div class="screen">Screen</div>

                    <div class="places">

                        <div class="seats-row" *ngFor="let seatsRow of seatsRows">
                            <div class="seat {{seat.status}}" *ngFor="let seat of seatsRow" (click)="getPrice()">{{seat.number}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>