/* Places */

.sum h5, h3 {
    margin-top: 1rem;
    margin-left: 15px;
}

.order-btns {
    margin-top: 15px;
}

.add-btn {
    color: black;
    border: solid black;
    background-color: rgb(132, 128, 132);
}

.add-btn:hover {
    cursor: pointer;
    background-color: #37bc8c;
}

.add-btn[disabled] {
    cursor: not-allowed;
    background-color: rgb(196, 185, 185);
}

.add-btn,
.cancel-btn {
    margin-bottom: 20px;
    width: 100%;
    max-width: 18rem;
}

@media(max-width: 991px) {
    .add-btn,
    .cancel-btn {
        width: 16rem;
    }
}

@media(max-width: 720px) {
    .add-btn,
    .cancel-btn {
        width: 12rem;
    }
}

.seance-btn-cinema-info-row {
    margin-top: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}

.seance-btn {
    padding: 10px 35px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.89);
    border: solid white 3px;
}

.seance-btn:hover {
    color: black;
    background-color: #ffd25e;
    border-color: bisque;
}

.seance-info {
    display: inline-block;
    background-color: rgb(232, 227, 227);
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
}

.place-selection-title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.cinema {
    background-color: rgb(30, 29, 30);
    border: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 130px;
}

.screen {
    background-color: rgb(132, 128, 132);
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.places {
    margin-bottom: 30px;
}

.seats-row {
    margin-left: 10px;
}

.seat {
    cursor: pointer;
    display: inline-block;
    color: white;
    border: solid white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 1px;
    padding: 10px 20px;
}

.seat:focus {
    outline: none !important;
}

@media (max-width: 1250px) {
    .seat {
        font-size: 15px;
    }
}

@media (max-width: 1179px) {
    .seat {
        font-size: 10px;
    }
}

@media (max-width: 1120px) {
    .seat {
        padding: 8px 15px;
    }
}

@media (max-width: 919px) {
    .seat {
        padding: 5px 10px;
    }
}

@media (max-width: 720px) {
    .seat {
        padding: 4px 6px;
    }
}

.Free {
    background-color: black;
}

.Free:hover {
    background-color: #ffd25e;
    color: black;
    border-color: black;
}

.Sold {
    background-color: rgb(132, 128, 132);
    cursor: not-allowed;
}

.Sold:hover {
    background-color: rgb(132, 128, 132);
}

.Reserved {
    background-color: #37bc8c;
    color: black;
    border-color: black;
}
