* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    /* background-color: #37bc8c; */
    background-color: #1a1919;
    color: white;
    height: 10rem;
}

.navbar-brand {
    font-size: 25px;
}

header {
    height: 6rem;
    background-color: #1a1919;
}

.navbar {
    background-color: #1a1919;
    color: white;
    top: 0;
    height: 6rem;
    width: 100%;
}

.date-btns {
    text-align: center;
}

.date {
    display: inline-block;
    margin-right: 11px;
    font-size: 20px;
}

.date label {
    margin-right: 7px;
}

.date input {
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    width: 145px;
}

.today-btn,
.tomorrow-btn,
.weekend-btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 11px;
    margin-bottom: 8px;
}

.range-value {
    background-color: white;
    border: solid;
    width: 20%;
    text-align: center;
    margin-bottom: 4px;
}

.age-rating-range {
    cursor: pointer;
    width: 100%;
}

.age-rating {
    margin-bottom: 10px;
}

.min-range {
    font-weight: bold;
}

.max-range {
    font-weight: bold;
    float: right;
}

.filter-btns {
    justify-content: center;
}

.apply-btn {
    margin-right: 5px;
}

.apply-btn,
.clear-btn {
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 20px;
}

.cart-btn {
    padding-left: 40px;
    padding-right: 40px;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.filter {
    color: black;
}

aside h3 {
    margin-top: 1rem;
}

.variants {
    background-color: white;
    border: solid;
    padding: 15px;
    margin-bottom: 10px;
}

.main-content {
    background-color: bisque;
    min-height: 100vh;
}

aside {
    background-color: rgb(196, 185, 185);
    border-right: solid 0.2rem;
}

footer h3 {
    padding-top: 15px;
}

.contact-icons {
    margin-top: 25px;
}

.icon-facebook,
.icon-telegram,
.icon-twitter {
    margin-right: 50px;
}

.icon-facebook:hover,
.icon-telegram:hover,
.icon-twitter:hover,
.icon-instagram:hover {
    cursor: pointer;
    color: #ffd25e;
}
